* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Body Animation intro*/
body {
 animation: fadeInAnimation ease 1s;
 animation-iteration-count: 1;
 animation-fill-mode: inherit;
 background-color: #333 !important;
}
@keyframes fadeInAnimation {
 0% {
     opacity: 0;
 }
 100% {
     opacity: 1;
 }
}

/* Navbar */
nav {
z-index: 1;
}
.navbar-expand-lg .navbar-collapse {
 justify-content: flex-end;
 margin: 0 5rem;
}
.navbar-brand img {
position: relative;
left: 1rem;
}
.navbar-brand img:hover {
filter: drop-shadow(1px 1px 4px #666);
}

.navbar-collapse li {
margin: 0 3rem;
font-size: 1.5rem;
}

.navbar-expand-lg .navbar-collapse a{
font-weight: 200;
}
.navbar-expand-lg .navbar-collapse a:hover {
text-shadow: 2px 1px 4px;
}
.navbar .container-fluid a:hover {
filter: drop-shadow(1px 1px 4px #666);
}
/* Header first row*/
.head-banner {
 /* background-color: #333; */
 background-image: url(img/2.png);
 background-size: cover;
 background-position: center;
}
#container-head {
  height: 70vh;
  display: flex;
  align-items: center;
}
.container p {
 font-size: 1.5rem;
 color: white;
}

.text h1 span{
 color: #ccb58c;
 font-size: 3rem;
 text-shadow: 2px 1px 7px;
}

.text hr {
 color: white;
}

.text {
  justify-content: space-around !important;
  align-items: start !important;
}
.text {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: 100vw;
min-height: 100vh;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.text .swipe {
position: relative;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
}

.text .swipe::after {
display: block;
content: '';
position: absolute;
top: 0;
left: 0;
right: 100%;
width: 0%;
height: 100%;
background-color: #ccb58c;
-webkit-animation: swipe 1.5s ease-out 1s forwards;
        animation: swipe 1.5s ease-out 1s forwards;
}

.text h1,hr {
display: block;
color: #FFF;
font-size: 1.5rem;
font-weight: 200;
padding: 0px 25px;
opacity: 0;
-webkit-animation: fade 0.01s ease-out 1.75s forwards;
        animation: fade 0.01s ease-out 1.75s forwards;
text-align: center;
}

@-webkit-keyframes fade {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes fade {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@-webkit-keyframes swipe {
0% {
  right: 100%;
  left: 0;
  width: 0%;
}
50% {
  right: 0;
  left: 0;
  width: 100%;
}
100% {
  right: 0;
  left: 100%;
  width: 0%;
}
}

@keyframes swipe {
0% {
  right: 100%;
  left: 0;
  width: 0%;
}
50% {
  right: 0;
  left: 0;
  width: 100%;
}
100% {
  right: 0;
  left: 100%;
  width: 0%;
}
}

/* Button1 */

.btn {
 height: 50px;
 width: auto;
 margin: 1rem;
}

/* Header second row*/

#row2 {
background-color: #333;
width: 100%;
display: flex;
}

.container-2 {
height: auto;
width: 100%;
background-color: #333;
margin-bottom: 5rem;
}

.img1 {
display: flex;
justify-content: center;
align-items: center;
}

#img1 {
  height: 400px;
  width: auto;
}


.about-me {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.about-me h2 {
background-color: #b5a383;
color: antiquewhite;
width: -moz-fit-content;
width: fit-content;
font-size: 3rem;
border-radius: 5px;
position: relative;
top: 2rem;
left: 5rem;
border: 2px solid #d9d7d7;
padding: .25rem;
z-index: 1;
}

.about-me p {
background-color: #858484;
color: #333;
height: 10rem;
padding: 1.25rem;
width: 60%;
height: auto;
border-radius: 5px;
font-size: 1.5rem;
text-align: center;
display: table-cell;
vertical-align: middle;
border: 2px solid #d9d7d7;
filter: drop-shadow(0.25em 2px 7px rgb(75, 73, 73));
font-weight: 300;
}

/* Skills bar*/

#skills{
min-height: 70vh;
display: flex;
align-items: center;
justify-content: center;
}

#html .skill-per {
  max-width: 90%;
}
#css .skill-per {
  max-width: 85%;
}
#javascript .skill-per {
  max-width: 0%;
}
#php .skill-per {
  max-width: 0%;
}
#angular .skill-per {
  max-width: 0%;
}
#wordpress .skill-per {
  max-width: 0%;
}

.skills{
width: 100%;
max-width: 600px;
padding: 0 20px;
}

.skill-name{
font-size: 18px;
font-weight: 700;
color: #f1f1f1;
text-transform: uppercase;
margin: 20px 0;
}

.skill-bar{
height: 14px;
background: #282828;
border-radius: 3px;
}

.skill-per{
height: 14px;
background: #b5a383;
border-radius: 3px;
position: relative;
animation: fillBars 2.5s 1;
}

.skill-per::before{
content: attr(per);
position: absolute;
padding: 4px 6px;
background: #f1f1f1;
border-radius: 4px;
font-size: 12px;
top: -35px;
right: 0;
transform: translateX(50%);
}

.skill-per::after{
content: "";
position: absolute;
width: 10px;
height: 10px;
top: -20px;
right: 0;
transform: translateX(50%) rotate(45deg);
border-radius: 2px;
}

@keyframes fillBars{
from{
  width: 0;
}
to{
  width: 100%;
}
}


/* Skills background */
main {
width: 100%;
background-color: #333 !important;
background: url(img/learning.png) no-repeat center;
padding: 5rem 0 5rem 0;
}

.container-3  .text-skills h3{
color: #ccb58c;
font-size: 4rem;
text-align: center;
padding-right: 20rem;
font-weight: 200;
}

.container-3 .skill-name {
display: flex;
align-items: baseline;
}

.container-3 .skill-name h5{
font-weight: 300; 
margin: 0rem 1rem 0rem 1rem;
}
.container-3 .skill-name h6 {
font-weight: 300;
font-style: italic;
padding-left: 15px;
font-size: 0.75rem;
}

/* Contact Forms */
#contact {
width: 100%;
background: url(img/contactme.png) no-repeat center;
background-position-y: inherit;
display: flex;
align-items: center;
background-color: #333;
margin-bottom: 4rem;
}

.container-4 .contact-h1{
font-weight: 200;
color: #ccb58c;
font-size: 3rem;
margin-top: 3rem;
}
.container-4 .contact-p {
font-weight: 200;
font-size: 1.75rem;
margin-top: 1rem;
}
.container-4 .col-name {
opacity: .5;
margin-bottom: 2rem;
width: 10rem;
}
.container-4 .form-group-email {
opacity: .5;
margin-bottom: 2rem;
width: 16rem;
}
.container-4 .form-group-text {
opacity: .5;
margin-bottom: 2rem;
}
.container-4 label {
color: #ccb58c;
}
.col-name input {
border-radius: 6px;
}
/* Footer */
.container-footer {
display: flex;
width: 100%;
height: auto;
}
.container-footer .box1 {
height: 20vh;
width: 100%;
background-color: rgb(223, 219, 219);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.container-footer .box2 {
height: 20vh;
width: 100%;
background-color: #ccb58c;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.container-footer .box3 {
height: 20vh;
width: 100%;
background-color: #444;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.container-footer a{
text-decoration: none;
color: inherit;
}
.footer-end p {
  margin: 1rem 0;
  text-align: center;
}
.footer-end {
display: flex;
justify-content: center;
height: auto;
width: 100%;
color: white;
background-color: #333;
}

/* Media Queries */
@media screen and (max-width:1200px){
#row2 {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#container-head {
  justify-content: center;
}

.about-me {
  width: 100%!important;
  margin-bottom: 5rem;
}
.text {
  display: flex !important;
  align-items: center !important;
}
body {
  background-color: #333;
}
}

@media screen and (max-width:992px) {
#skills {
  flex-direction: column;
}
.container-3  .text-skills h3 {
  padding: 0;
}
}

@media screen and (max-width:768px) {
  .container-3 .skill-name {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
  }
  .container-3 .skill-name h5 {
    display: flex;
    justify-content: center;
  }
  .container-3 .skill-name h6 {
    display: flex;
    justify-content: center;
  }
  .fab, .far {
    padding: 10px;
  }
  .skill-name i {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:576px) {
.container-footer {
  flex-direction: column;
}
#img1 {
  height: 23rem;
  width: 80%;
}
}

@media screen and (max-width:428px) {
  .about-me h2 {
    position: static;
  }
  .container-3 .skill-name h6 {
    padding-left: 0;
  }
  #container-head {
    height: 100%;
  }
}
